@model EmployeeWebApp.Models.ViewModelClass
@{
    if(ViewData["UserName"] == null)
    {
        <script>
            $(function () {
                    window.location.href = '@Url.Action("Index", "Login")';
                }
            });
        </script>
    }
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Add New Employee</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="../../Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="../../Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="../../Content/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='../../Content/assets/css/googlecss.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
 </head>
<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../Login/Welcome">
                    <img src="../../Content/assets/img/logomain.png" />
                    <span style="position: absolute; top: 50%; transform: translateY(-50%); right: -20px;">welcome</span>
                </a>
            </div>
            <ul>
                <li>
                    @try{
                        if ((!string.IsNullOrEmpty(ViewData["UserName"].ToString())) || (ViewData["UserName"] == null))
                        {
                            <a href="welcome">
                                @(
                                ViewData["UserName"]
                                )
                            </a>
                        }
                    }
                    catch(Exception e){
                        <script>
                            $(function () {
                                window.location.href = '@Url.Action("Index", "Login")';
                            }
                             );
                        </script>
                    }
                </li>
                <li>
                    <button id="bt-logout">@Html.ActionLink("LOG OUT","Logout","Login")</button>
                </li>
            </ul>
        </div>
    </div>
<div class="row" >
    <div class="col-md-4">
        <form method="post" asp-controller="Employee" asp-action="CreateOrEdit" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee_Id" class="control-label"></label>
                <input asp-for="Employee_Id" class="form-control" readonly/>
                <span asp-validation-for="Employee_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department   " class="control-label"></label>
                @Html.DropDownListFor(model => model.Department,(List<SelectListItem>)ViewBag.departmentdrop,"Select Department")
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>
