@using Microsoft.AspNetCore.Http
@model EmployeeWebApp.Models.SignUpModel

@{
    ViewData["Title"] = "Welcome";
}


<!DOCTYPE html>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FREE RESPONSIVE HORIZONTAL ADMIN</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="../../Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="../../Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="../../Content/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='../../Content/assets/css/googlecss.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../Login/Welcome">
                    <img src="../../Content/assets/img/logomain.png"  />
                </a>
            </div>
            <ul>
                <li>@if (!string.IsNullOrEmpty(Model.FirstName))
                {
                    <a href="welcome" >
                        @(Model.FirstName + " " + Model.LastName)
                    </a>
                }</li>
                <li>
                <button>@Html.ActionLink("LOG OUT","Logout","Login")</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
     </section>
     <div>
         <p1> Welcome </p1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc arcu, scelerisque eu nisl sit amet, sollicitudin vestibulum libero. Nunc commodo risus nisi. Morbi malesuada tortor nec enim varius, ultricies efficitur lorem ornare. Pellentesque in efficitur justo, ac interdum neque. Quisque semper nibh a tellus sollicitudin accumsan. In in nibh id eros dignissim interdum at quis neque. Nullam molestie turpis ornare sapien pellentesque, eget ullamcorper eros posuere. Vestibulum a mauris pharetra, tristique est non, hendrerit sapien. Nunc sit amet lectus id sapien accumsan laoreet at sit amet diam.</p>
        <p>Fusce id massa mauris. Nullam lobortis eu mauris nec tincidunt. Sed et ligula posuere, lacinia lacus ac, auctor odio. Aliquam hendrerit augue ex, vel scelerisque nisl varius vel. Nulla eleifend blandit commodo. Curabitur sed ante quis neque ultrices porttitor posuere sit amet libero. Suspendisse quis erat eleifend, auctor lorem nec, sollicitudin ex. Vivamus in ipsum et metus mattis finibus. Duis sem urna, suscipit eget odio non, egestas fringilla eros. Integer accumsan neque tincidunt venenatis consectetur. Vivamus tortor mauris, vehicula imperdiet purus sit amet, eleifend blandit mi.</p>
        <p>
            Sed semper ultricies imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent fringilla nulla at lobortis pharetra. Proin a pulvinar ligula. Morbi et leo et lorem placerat egestas. Sed ut metus sed lectus gravida congue at at ante. Suspendisse sed tellus eu ligula elementum volutpat at sit amet justo. Nunc eu rhoncus quam, in vestibulum nisl. Ut dolor felis, placerat sit amet ante non, ultrices molestie metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vitae rhoncus nulla. Vestibulum sit amet eros at lacus gravida porta ac et ligula. In ut massa faucibus, laoreet erat id, fringilla lacus. Curabitur vitae sem ultricies massa porttitor vehicula.
        </p>
        <a href="@Url.Action("Index", "Employee", new { _userName = Model.FirstName + " " + Model.LastName, sortOrder = "", request = true })">Go to Employee Database</a>
     </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a>&copy; 2023 Designed by : Tarun Kaushik</a>
                </div>

            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="../../Content/assets/js/jquery-3.6.4.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="../../Content/assets/js/bootstrap.js"></script>
    <!--DataTabel-->
    <script src="../../js/jquery.dataTables.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="../../Content/assets/js/custom.js"></script>
    <script>
        $(function () {
            var token = @ViewData["result"];
            var msg = @ViewBag.msg;
            if (msg == 3) {
                window.location.href = '@Url.Action("Index", "Login")';
            }
        });
    </script>
</body>
</html>
